{{ partial "header.html" . }}

<div class="st-wrapper">
  <main class="right">
    <div class="onecolumn">
      <section class="nf-box">
        <h1 class="title">this is 404</h1>
        <p class="subtitle">&#8213;&emsp;そんなページはない&emsp;&#8213;</p>
        <figure class="figure">
            <amp-img class="img" src="/images/components/nf-box/world_germany_lederhose.png" width="500" height="957" layout="responsive" title="とりあえずお酒でも飲みましょう&#x0A;✌('ω'✌ )三✌('ω')✌三( ✌'ω')✌うぃー"></amp-img>
        </figure>
      </section>
    </div>
  </main>
</div><!--/.st-wrapper-->

{{ partial "footer.html" . }}
{{ partial "sidebar.html" . }}