{{ partial "header.html" . }}

<div class="st-wrapper">
  <main class="right">
    <div class="column">
      <h2>カテゴリ1</h2>
      <ul>
          {{ range .Paginator.Pages }}
            {{ .Render "li" }}
          {{ end }}
      </ul>
    </div>
    <div class="column">
      <h2>カテゴリ2</h2>
      <ul>
          {{ range .Paginator.Pages }}
            {{ .Render "li" }}
          {{ end }}
      </ul>
    </div>
    <div class="column">
      <h2>カテゴリ3</h2>
      <ul>
          {{ range .Paginator.Pages }}
            {{ .Render "li" }}
          {{ end }}
      </ul>
    </div>
  </main>
  <div class="left">
      {{ partial "sidebar.html" . }}
  </div>
</div><!--/.st-wrapper-->

{{ partial "footer.html" . }}