{{ partial "header.html" . }}

<div class="st-wrapper">
  <main class="right" id="anc-right">
    <div class="column">
      <section class="st-postslist">
        <h2 class="title"><a class="link" href="/categories/bike">自転車</a></h2>
        <ul class="list">
          {{ range where .Data.Pages "Section" "bike" }}
            {{ .Render "_top_li" }}
          {{ end }}
        </ul>
      </section><!--/.st-postslist-->
    </div>
    <div class="column">
      <section class="st-postslist">
        <h2 class="title"><a class="link" href="/categories/cat">猫</a></h2>
        <ul class="list">
          {{ range where .Data.Pages "Section" "cat" }}
            {{ .Render "_top_li" }}
          {{ end }}
        </ul>
      </section><!--/.st-postslist-->
    </div>
    <div class="column">
      <section class="st-postslist">
        <h2 class="title"><a class="link" href="/categories/notes">雑記</a></h2>
        <ul class="list">
          {{ range where .Data.Pages "Section" "notes" }}
            {{ .Render "_top_li" }}
          {{ end }}
        </ul>
      </section><!--/.st-postslist-->
    </div>
  </main>
  <div class="left">
    {{ partial "sidebar.html" . }}
  </div>
</div><!--/.st-wrapper-->

{{ partial "footer.html" . }}