{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="st-wrapper">
  <main class="main">
    <div class="st-archive">
      <div class="inner">
        {{ range .Paginator.Pages.GroupByDate "2006年01月" }}
          <section class="section">
            <h2 class="head">
              <p class="yearmonth"><span class="span">{{ .Key }}</span></p>
            </h2>

            <ul class="sc-postslist">
              {{ range .Pages }}
                <li class="item"><a class="link" href="{{ .Permalink }}">
                  <figure class="figure">
                    <amp-img src="{{ .Params.eyecatch }}" width="700" height="300" alt="{{ .Params.eyecatch }}" title="{{ .Params.eyecatch }}" layout="responsive"></amp-img>
                  </figure>
                  <div class="info">
                    <h3 class="title">{{ .Title }}</h3>
                  </div>
                </a></li>
              {{ end }}
            </ul>
          </section>
        {{ end }}

        {{ partial "pagination.html" . }}
      </div>
    </div><!--/.st-archive-->
  </main>
</div><!--/.st-wrapper-->

{{ partial "footer.html" . }}
{{ partial "sidebar.html" . }}