{{ partial "head.html" . }}

<div class="st-wrapper -haveheader">
  <main class="main">
    <article class="st-single{{ with .Params.categories }} -{{ . }}{{ end }}">
      {{ if ne .Params.eyecatch "" }}
        <figure class="eyecatch">
          <amp-img class="img" src="{{ .Params.eyecatch }}" alt="{{ .Params.eyecatch_alt }}" title="{{ .Params.eyecatch_alt }}" width="700" height="300" layout="responsive"></amp-img>
        </figure>
      {{ end }}

      <div class="postheader">
        <div class="postdate">
          <time class="time">{{ .Date.Format "2006/1/2" }}</time>
        </div>

        <div class="taxonomy">
          {{ with .Params.categories }}
            <div class="categories">カテゴリ：
              <a class="link" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            </div>
          {{ end }}

          {{ with .Params.tags }}
            <div class="tags">タグ：
              {{ range . }}
                <a class="link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </div>
          {{ end }}
        </div>

        <h1 class="posttile">{{ .Title }}</h1>
      </div><!--/.postheader-->

      <div class="inner">
        <div class="st-postcontent">
          {{ .TableOfContents }}
          {{ .Content }}
        </div>

        <div class="prevnext">
          {{ if .PrevInSection }}
            <div class="unit">
              <p class="title"><span class="span">Prev Post</span></p>
              <a class="link" href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>
            </div>
          {{ end }}
          {{ if .NextInSection }}
            <div class="unit">
              <p class="title"><span class="span">Next Post</span></p>
              <a class="link" href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a>
            </div>
          {{ end }}
        </div>

        <div class="totop">
          <a class="link" href="/" title="トップに戻る"><amp-img src="/images/components/st-single/x.svg" width="80px" height="80px"></amp-img></a>
        </div>

      </div>
    </article><!--/.st-single-->
  </main>

</div><!--/.st-wrapper-->

{{ partial "footer.html" . }}
{{ partial "sidebar.html" . }}