{{ partial "header.html" . }}

<div class="st-wrapper">
  <main class="right">
    <article class="st-single">
      <div class="inner">
        {{ if ne .Params.eyecatch "" }}
          <figure class="eyecatch">
            <amp-img class="img" src="{{ .Params.eyecatch }}" alt="{{ .Params.eyecatch_alt }}" title="{{ .Params.eyecatch_alt }}" width="700" height="300" layout="responsive"></amp-img>
          </figure>
        {{ end }}

        <div class="postheader">
          <div class="postdate">
            <time class="time">{{ .Date.Format "2006/1/2" }}</time>
          </div>

          <div class="taxonomy">
            <div class="categories">カテゴリ：
              {{ with .Params.categories }}
                <a class="link" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </div>

            {{ with .Params.tags }}
              <div class="tags">タグ：
                {{ range . }}
                  <a class="link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
              </div>
            {{ end }}
          </div>

          <h1 class="posttile">{{ .Title }}</h1>
        </div><!--/.postheader-->

        <div class="post-content">{{ .Content }}</div>
      </div>
    </article><!--/.st-single-->
  </main>

</div><!--/.st-wrapper-->

{{ partial "footer.html" . }}
{{ partial "sidebar.html" . }}