<footer class="st-footer">
  <ul class="list">
    <li class="item">
      <button on='tap:amp-sidebar'>About</button>
    </li>
    <li class="item">
      <a class="link" href="http://cycle.blogmura.com/ranking.html" target="_blank"><amp-img class="img" src="/images/components/st-footer/cycle.gif" width="46px" height="31px" alt="ブログ村(自転車)" title="他の人の自転車ブログを見る"></amp-img></a>
    </li>
    <li class="item">
      <a class="link" href="http://cat.blogmura.com/ranking.html" target="_blank"><amp-img class="img" src="/images/components/st-footer/cat.gif" width="43px" height="31px" alt="ブログ村(猫)" title="他の人の猫ブログを見る"></amp-img></a>
    </li>
    <li class="item">
      <a class="link" href="https://codepen.io/harapeko" target="_blank"><amp-img class="img" src="/images/components/st-footer/codepen.svg" width="3.4rem" height="3rem" alt="codepen" title="codepenへ"></amp-img></a>
    </li>
    <li class="item">
      <a class="link" href="https://github.com/harapeko" target="_blank"><amp-img class="img" src="/images/components/st-footer/github.svg" width="3.4rem" height="3rem" alt="github" title="twitterへ"></amp-img></a>
    </li>
    <li class="item">
      <a class="link" href="https://twitter.com/harapeko_wktk" target="_blank"><amp-img class="img" src="/images/components/st-footer/twitter.svg" width="3.4rem" height="3rem" alt="twitter" title="githubへ"></amp-img></a>
    </li>
    <li class="item">
      <amp-social-share class="tweet" width="3.4rem" height="3rem" type="twitter">tweet</amp-social-share>
    </li>
  </ul>
</footer>
</body>
</html>