<footer class="st-footer">
  <ul class="list">
    <li class="item">
      <a class="link" href="/about"><span class="text">About</span></a>
    </li>
    <li class="item">
      <a class="link" href="https://github.com/harapeko" target="_blank"><img class="img" src="/images/components/st-footer/github.svg" alt="twitter"></a>
    </li>
    <li class="item">
      <a class="link" href="https://github.com/harapeko" target="_blank"><img class="img" src="/images/components/st-footer/twitter.svg" alt="twitter"></a>
    </li>
    <li class="item">
      <amp-social-share class="tweet" width="3.4rem" height="3rem" type="twitter">tweet</amp-social-share>
    </li>
  </ul>
</footer>
</body>
</html>