{{ $pages := .Paginator }}
{{ if gt $pages.TotalPages 1 }}
  <nav class="st-pagination">
    <ul class="list">
      {{ if ne $pages.First.PageNumber $pages.PageNumber }}
        <li class="item">
          <a class="link" href="{{ $pages.First.URL }}">
            <span>最初</span>
          </a>
        </li>
      {{ end }}

      {{ if $pages.HasPrev }}
        <li class="item">
          <a class="link" href="{{ $pages.Prev.URL }}">
            <span>前へ</span>
          </a>
        </li>
      {{ end }}

      {{ range $pages.Pagers }}
        <li class="item">
          <a class="link {{ if eq . $pages }}-current{{ end }}" href="{{ .URL }}">
            <span>{{ .PageNumber }}</span>
          </a>
        </li>
      {{ end }}

      {{ if $pages.HasNext }}
        <li class="item">
          <a class="link" href="{{ $pages.Next.URL }}">
            <span>次へ</span>
          </a>
        </li>
      {{ end }}

      {{ if ne $pages.Last.PageNumber $pages.PageNumber }}
        <li class="item">
          <a class="link" href="{{ $pages.Last.URL }}">
            <span>最後</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}