<div class="st-sidebar">
  <aside>
    <h2>Profile</h2>
    <amp-img src="https://placehold.jp/180x180.png" width="180" height="180" alt="avatar">

  </aside>

  <!-- TODO：廃止予定 -->
  <aside>
    <h2>最近の投稿</h2>
    {{ range .Data.Pages.GroupBy "Section" "desc" }}
      {{ with .Key }}
        <h3>{{ . }}</h3>
      {{ end }}
      <ul>
        {{ range .Pages.ByTitle }}
          {{ .Render "recent_li" }}
        {{ end }}
      </ul>
    {{ end }}
  </aside>

  <aside>
    <h2>ad</h2>
    <p>TODO</p>
  </aside>
</div>