<div class="st-sidebar">
  <aside class="profile">
    <figure class="figure">
      <amp-img class="img" src="/images/common/avatar/harapeko.jpg" width="180" height="180" alt="飼われてる人 はらぺこ" title="飼われてる人 はらぺこ"></amp-img>
      <figcaption class="caption">飼われてる人 はらぺこ</figcaption>
    </figure>
    <figure class="figure">
        <amp-img class="img" src="/images/common/avatar/happy.jpg" width="180" height="180" alt="飼い主 はっぴー" title="飼い主 はっぴー"></amp-img>
      <figcaption class="caption">飼い主 はっぴー</figcaption>
    </figure>
  </aside>

  <!-- TODO：廃止予定 -->
  {{/*
  <aside>
    <h2>最近の投稿</h2>
    {{ range .Data.Pages.GroupBy "Section" "desc" }}
      {{ with .Key }}
        <h3>{{ . }}</h3>
      {{ end }}
      <ul>
        {{ range .Pages.ByTitle }}
          {{ .Render "recent_li" }}
        {{ end }}
      </ul>
    {{ end }}
  </aside>
  */}}

  <aside class="ads">
    <ul class="list">
      <li class="item"><a class="link" href="http://amzn.to/2vxShho">
        <figure class="figure">
          <amp-img class="img" src="https://images-na.ssl-images-amazon.com/images/I/41V8HDTIenL.jpg" width="180" height="180"></amp-img>
          <figcaption class="caption">キャティーマン (CattyMan) じゃれ猫 宙返り</figcaption>
        </figure>
      </a></li>
      <li class="item"><a class="link" href="http://amzn.to/2vxShho">
        <figure class="figure">
          <amp-img class="img" src="https://images-na.ssl-images-amazon.com/images/I/41V8HDTIenL.jpg" width="180" height="180"></amp-img>
          <figcaption class="caption">キャティーマン (CattyMan) じゃれ猫 宙返り</figcaption>
        </figure>
      </a></li>
      <li class="item"><a class="link" href="http://amzn.to/2vxShho">
        <figure class="figure">
          <amp-img class="img" src="https://images-na.ssl-images-amazon.com/images/I/41V8HDTIenL.jpg" width="180" height="180"></amp-img>
          <figcaption class="caption">キャティーマン (CattyMan) じゃれ猫 宙返り</figcaption>
        </figure>
      </a></li>
    </ul>
  </aside>
</div><!--/.st-sidebar-->