.st-pagination

  >.list
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-top: 0
    margin-right: -1 * $margin
    margin-bottom: $margin
    list-style: none

  >.list >.item
    margin-right: $margin

  >.list >.item >.link
    display: flex
    justify-content: center
    align-items: center
    min-width: $margin * 4
    min-height: $margin * 4
    padding: ($margin / 2)
    line-height: 1
    color: $color-text
    border: 1px solid currentColor
    font-size: 1.4rem

    &.-current
      pointer-events: none
      background-color: $color-text
      color: $color-white

    &:hover
      background-color: $color-text
      color: $color-white