.st-footer
  padding-top: 40px

  >.nav
    position: fixed
    bottom: 0
    z-index: $zi-l
    width: 100vw
    height: 40px
    font-size: 0

    +pc
      max-width: $desktop
      margin-right: auto
      margin-left: auto

  // フッターリスト
  >.nav >.list
    display: flex
    align-items: center
    justify-content: flex-end
    height: inherit
    margin: 0
    padding: 0
    list-style: none

  >.nav >.list >.item
    display: flex
    align-items: center
    justify-content: flex-end
    margin-right: ($margin / 3 * 2)
    margin-bottom: 0

  >.nav >.list >.item >.link
    color: $color-text
    &:hover
      color: #982c61
      border-style: none

  >.nav >.list >.item >.link >.text
    font-size: 1.6rem

  >.nav >.list >.item >.link >.img
    width: 3.4rem
    height: 3rem

  >.nav >.list >.item >.tweet
    display: inline-flex
    justify-content: center
    align-items: flex-end
    background-size: 50%
    background-position-y: 0
    font-size: 10px
    color: $color-white
    border-radius: 4px