.sc-amzn
  margin: $margin (-1 * $margin)
  padding: $margin
  background-color: skyblue

  +pc
    margin-right: -100vw
    margin-left: -100vw

  // タイトル
  >.title
    margin-top: 0
    margin-bottom: 0
    font-weight: bold
    text-align: left
    +tab
      text-align: center

  // 著者
  >.author,
  // 業者
  >.manufacturer
    margin-top: 0
    text-align: left
    +tab
      text-align: center

  >.media
    display: flex

  // 画像領域
  >.media >.images
    flex: 1
    margin-right: $margin

  // 画像
  >.media >.images >.img
    min-width: 100%
    max-height: 200px

  >.media >.images >.img > img
    object-fit: contain
    object-position: top right

  // 情報領域
  >.media >.info
    flex: 1

  // 詳細URL
  >.media >.info >.btn >.detail,
  >.media >.info >.btn >.review,
  >.media >.info >.btn >.wish
    display: inline-flex
    margin-bottom: $margin / 2
    padding: 10px
    border-radius: 8px
    color: $color-white

    &:hover
      transition: transform .2s
      transform: translateY(-1px)
      box-shadow: 0 2px 1px rgba(0, 0, 0, .4)

  // 詳しくみる
  >.media >.info >.btn >.detail
    background-color: #e88a14

  // 評判をみる
  >.media >.info >.btn >.review
    background-color: #0b59a9

  // 欲しい物リスト
  >.media >.info >.btn >.wish
    background-color: #0ba976