.st-wrapper
  width: 100vw

  // 個別記事
  &.-haveheader
    min-height: $content-height-noheader

  // 個別記事以外(ヘッダーあり)
  &:not(.-haveheader)
    min-height: $content-height

    +tab
      min-height: $content-height-tab