.st-postcontent
  margin-bottom: $margin * 2
  font-size: 14px

  +tab
    font-size: 16px

  +pc
    font-size: 17px

  // 見出し
  h1::before
    content: "#"
    letter-spacing: -.1em
    margin-right: $margin / 2
  h2::before
    content: "##"
    letter-spacing: -.1em
    margin-right: $margin / 2
  h3::before
    content: "###"
    letter-spacing: -.1em
    margin-right: $margin / 2

  // コード
  pre:not([class])
    margin: $margin (-1.5 * $margin)
    border: 1px solid $color-border
    border-radius: 3px
    box-shadow: $box-shadow
    font-family: 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace
    background-color: #452403
    // pygments css native.cssの.lighlightからもってきた
    color: #d0d0d0

    code:not([class])
      margin-right: 0
      margin-left: 0
      padding: 0
      background-color: transparent

  // インラインコード
  code:not([class])
    margin-right: .5em
    margin-left: .5em
    padding: .25em .5em
    background-color: #e6e6e6

  // 引用
  blockquote:not([class])
    margin-left: 0
    padding-left: $margin
    border-left-width: 4px

    +pc
      margin-left: $margin

    >a
      display: inline-block
      border-bottom: 3px solid rgba($color-pagination, .5)
      color: currentColor
      line-height: 0.6em

      &:hover
        color: $color-pagination

  // 段落
  p:not([class])
    margin-top: 1.5em
    margin-bottom: 1.5em

    &.filename
      margin: 0 (-1.5 * $margin) (-1 * $margin)
      padding: ($margin / 2) $margin
      color: $color-white
      background-color: #e26b40
      line-height: 1

      +pc
        padding-right: ($margin / 2)
        padding-left: ($margin / 2)
        transform: scale(1.02)

  // figure
  figure
    margin: 1.5em auto

    +pc
      max-width: $desktop / 2

    >amp-img
      max-height: 420px
      >img
        object-fit: contain

  // リスト共通
  ul, ol
    margin-top: 1.5em
    margin-bottom: 1.5em

    li:not(:last-child)
      margin-bottom: .3em

  // ul
  ul
    padding: 0
    list-style: none

    >li
      padding-left: 2em
      background: url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='7px' viewBox='0 0 7 7' style='enable-background:new 0 0 7 7;' xml:space='preserve'%3E %3Ccircle id='XMLID_1_' style='fill:#{$color-pagination};' cx='3.5' cy='3.5' r='3.5'/%3E %3C/svg%3E ") no-repeat 0.7em 0.5em

  // ol
  ol
    list-style-type: decimal-leading-zero

    >li
      padding-left: .5em

  // 水平線
  hr:not([class])
    margin-top: 1.5em
    margin-bottom: 1.5em
    border-bottom-width: 4px
    border-bottom-style: solid
    box-shadow: $box-shadow

  // 表組
  table:not([class])
    margin-top: 1.5em
    margin-bottom: 1.5em
    box-shadow: $box-shadow

    th:not([class]), td:not([class])
      border: 1px solid $color-border

  // 波線。注意を向ける装飾
  .warn
    text-decoration-line: underline
    text-decoration-style: wavy
    text-decoration-color: $color-warn
    text-shadow: 0 1px rgba(black, .1)