// 共通(年月部分)
.st-archive
  width: 100vw
  height: $content-height
  padding: $margin 0
  overflow-x: hidden
  overflow-y: scroll

  +pc
    width: 100%

  >.inner
    +pc
      max-width: $desktop-right

  >.inner >.section
    margin-bottom: 2 * $margin
    margin-top: $margin

  >.inner >.section >.head
    position: relative
    display: flex
    justify-content: center
    width: calc(100% - ($margin * 2))
    margin: 0 $margin $margin
    border-top: 2px solid $color-text

    &::before,
    &::after
      content: ""
      position: absolute
      top: -1 * (1.6 * $margin) / 2
      display: inline-block
      width: 1.6 * $margin
      height: 1.6 * $margin
      background-color: $color-text
      border-radius: 100%

    &::before
      left: 0
    &::after
      right: 0

    +tab
      margin-bottom: ($margin * 2)

  >.inner >.section >.head >.yearmonth
    margin-top: 0
    margin-bottom: 0
    padding: .5rem
    font-size: .5rem
    border-color: $color-text
    border-width: 2px
    border-style: none solid solid solid

    +tab
      padding: $margin
      font-size: ($margin * 2)


// SP(リスト部分 デザイン変わるので分ける)
+sp
  .st-archive
    >.inner >.section >.list
      padding-left: 0
      border-top: 1px solid $color-gray
      list-style: none
      font-size: 0

    >.inner >.section >.list >.item
      margin-bottom: 0
      padding-top: .5rem
      padding-bottom: .5rem
      border-bottom: 1px solid $color-gray

    >.inner >.section >.list >.item >.media
      display: flex
      border-bottom-style: none

    >.inner >.section >.list >.item >.media >.figure
      width: 36%
      margin: 0
      padding-right: $margin

    >.inner >.section >.list >.item >.media >.info
      width: 64%

    >.inner >.section >.list >.item >.media >.info >.date,
    >.inner >.section >.list >.item >.media >.info >.title
      display: block
      margin-top: 0
      margin-bottom: 0

    >.inner >.section >.list >.item >.media >.info >.date
      line-height: 1
      font-size: 1.2rem
      color: $color-gray
      font-size: $margin

    >.inner >.section >.list >.item >.media >.info >.title
      line-height: 1.4
      font-size: 1.6rem
      font-weight: normal
      word-break: break-all


// PC、TAB(リスト部分 デザイン変わるので分ける)
+tab
  .st-archive
    >.inner >.section >.list
      display: flex
      flex-wrap: wrap
      padding: 0
      list-style-type: none
      font-size: 0

    >.inner >.section >.list >.item
      width: 33.333%
      margin-bottom: ($margin * 2)
      border-bottom: 1px solid $color-gray

    >.inner >.section >.list >.item >.media

    >.inner >.section >.list >.item >.media >.figure
      margin: 0

    >.inner >.section >.list >.item >.media >.info
      padding: $margin

    >.inner >.section >.list >.item >.media >.info >.date,
    >.inner >.section >.list >.item >.media >.info >.title
      margin-top: 0
      margin-bottom: 0

    >.inner >.section >.list >.item >.media >.info >.date
      line-height: 1
      font-size: 1.2rem
      color: $color-gray

    >.inner >.section >.list >.item >.media >.info >.title
      line-height: 1
      font-size: 1.6rem
      font-weight: normal
      word-break: break-all
