.st-header
  display: flex
  align-items: center
  width: 100vw
  height: 40px

  +pc
    width: $desktop

  // サイト名領域
  >.sitename
    flex: 1

    >.title
      margin: $margin
      font-size: 1.6rem

      +tab
        font-size: 2rem

    >.title >.link
      color: $color-text

  // 検索領域
  >.search
    display: flex
    align-items: flex-end
    margin: $margin

  >.search >.form >.input,
  >.search >.form >.submit
    margin-bottom: 0