.st-wrapper
  display: flex
  width: 100vw
  height: calc(100vh - 50px - 40px)
  border-top: 1px solid $color-gray
  border-bottom: 1px solid $color-gray
  overflow-y: scroll

  +tab
    overflow: visible

  >.left
    display: none

    +pc
      order: 0
      display: block
      flex: none
      width: 200px
      padding: $margin
      border-right: 1px solid $color-gray
      overflow-y: scroll

  >.right
    display: block
    flex: 1

    +tab
      display: flex

    +pc
      order: 1

  >.right >.column
    flex: 1