.st-pagination

  >.list
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 100vw
    margin-top: 0
    margin-right: -1 * ($margin / 2)
    margin-bottom: $margin
    padding-left: 0
    list-style: none

    +pc
      width: 100%

  >.list >.item
    +sp
      &:not(:nth-child(6n))
        margin-right: 2vw
    +tab
      margin-right: ($margin / 2)

  >.list >.item >.link
    display: flex
    justify-content: center
    align-items: center
    min-width: 15vw
    min-height: 15vw
    line-height: 1
    color: $color-pagination
    border: 2px solid $color-pagination
    font-size: 1.4rem
    font-weight: bold

    +tab
      min-width: 50px
      min-height: 50px

    &.-current
      pointer-events: none
      background-color: $color-pagination
      color: $color-white

    &:hover
      background-color: $color-pagination
      color: $color-white