.st-footer
  width: 100vw
  height: 40px

  +pc
    max-width: $desktop

  // フッターリスト
  >.list
    display: flex
    align-items: center
    justify-content: flex-end
    height: inherit
    margin: 0
    padding: 0
    list-style: none

  >.list >.item
    margin-right: $margin
    margin-bottom: 0