.ap-main
  width: 100%
  height: $content-height
  overflow-y: scroll

  +pc
    display: flex
    justify-content: center
    align-items: center
    width: $desktop
    padding: $margin

  >.title
    flex: 2
    text-align: center

  >.block
    flex: 5
    font-size: 0

  >.block >.unit
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: ($margin * 2)

    +pc
      &:nth-child(2)
        margin-bottom: 0

  >.block >.unit >.figure
    align-self: flex-start
    margin: 0 ($margin * 2) 0 0

  >.block >.unit >.figure >.img

  >.block >.unit >.info
    align-self: flex-start

  >.block >.unit >.info >.name
    margin-top: 0
    font-size: 2rem

  >.block >.unit >.info >.box
    font-size: 1.4rem