.st-footer

  >.copy
    display: flex
    align-items: center
    justify-content: center
    height: 60px
    font-weight: bold

  >.inner
    position: fixed
    width: 100vw
    height: 60px
    bottom: 0
    z-index: $zi-l

  >.inner >.about,
  >.inner >.share
    position: absolute
    bottom: -60px
    width: 120px
    height: 120px
    border-radius: 100%
    transition: transform .1s, opacify .1s

    &:hover
      transform: scale(1.1)
      filter: brightness(110%)

    &:active
      transform: scale(1.6)
      opacity: .8

  >.inner >.about
    left: -60px

  >.inner >.about >.icon
    width: 120px
    height: 120px
    border-radius: 100%
    background-size: 26px
    background-position: 66px 14px
    box-shadow: 1px -1px 4px rgba(0,0,0,0.2)
    background-image: url('/images/components/st-footer/smile.svg')
    background-repeat: no-repeat
    background-color: $color-text
    border: none
    &:before
      position: absolute
      top: 42px
      left: 64px
      content: "About"
      font-size: 13px
      color: $color-white

  >.inner >.about:hover >.icon
    box-shadow: 1px -2px 4px rgba(0,0,0,0.2)

  >.inner >.share
    right: -60px

  >.inner >.share >.icon
    border-radius: 100%
    background-size: 32px
    background-position: 22px 12px
    box-shadow: -1px -1px 4px rgba(0,0,0,0.2)
    &:before
      position: absolute
      top: 42px
      right: 44px
      content: "tweet"
      font-size: 13px
      color: $color-white

  >.inner >.share:hover >.icon
    box-shadow: -1px -2px 4px rgba(0,0,0,0.2)