// devices, mediaquerys
$mobile: 414px
$tablet: 768px
$desktop: 1100px

// height
// headerあり
// 90 = 52 + 50 + 20
$content-height: calc(100vh - 122px)
// 90 = 70 + 50 + 20
$content-height-tab: calc(100vh - 140px)

// headerなし
// 76 = 6 + 50 + 20
$content-height-noheader: calc(100vh - 76px)

// margin
$margin: 20px

// color
$color-text: #444
$color-post-text: dimgray
$color-gray: #bbb
$color-white: #f5f5f5
$color-pagination: #209cdf

$color-border: #ddd

$color-home: #796EB2
$color-bike: #33A5E2
$color-cat: #8BC866
$color-notes: #e28940

// box-shadow
$box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1)

// z-index
$zi-s: 10
$zi-m: 100
$zi-l: 1000
$zi-max: 10000