// devices, mediaquerys
$mobile: 414px
$tablet: 768px
$desktop: 1100px

// margin
$margin: 1rem

// color
$color-text: #444
$color-gray: #bbb
$color-white: #f5f5f5

// z-index
$zi-s: 10
$zi-m: 100
$zi-l: 1000
$zi-max: 10000