{{/*
Usage:
  {{< amzn B07496Z2GC "http://google.co.jp/" >}}
  {{< amzn B07496Z2GC >}}

Params:
  第一: string ASIN    必須
  第二: string 画像パス 画像指定したい時に使用する(URLは記号があるので「""」で囲みます)

備考:
  getJSONしているところは、自分で用意したJSONまたはAPIに置き換えてください
  参考：https://github.com/harapeko/amazon_pa_api_by_php
*/}}

{{ $api := getenv "AMAZON_PRODUCT_API" }}
{{ $itemId := index .Params 0 }}
{{ $json := getJSON $api $itemId }}

<div class="sc-amzn">
  <div class="media">
    <div class="images">
      <amp-img class="img" src="{{ index .Params 1 | default $json.images.large | default $json.images.medium | default $json.images.smalls }}" alt="商品画像{{ $json.title }}" width="200" height="200" layout="responsive"></amp-img>
    </div>
    <div class="info">
      <a class="title" href="{{ $json.item_url }}">{{ $json.title }}</a>
      {{ with $json.price }}<p class="price">{{ . }}</p>{{ end }}
      {{ with $json.is_prime }}<amp-img class="prime" src="/images/components/sc-amzn/prime.png" alt="amazon prime有効" width="72" height="20"></amp-img>{{ end }}
    </div>
  </div>
</div>
