{{/*
Usage:
  {{< amzn B07496Z2GC "http://google.co.jp/" >}}
  {{< amzn B07496Z2GC >}}

Params:
  第一: string ASIN    必須
  第二: string 画像パス 画像指定したい時に使用する(URLは記号があるので「""」で囲みます)

備考:
  getJSONしているところは、自分で用意したJSONまたはAPIに置き換えてください
  参考：https://github.com/harapeko/amazon_pa_api_by_php
*/}}

{{ $itemId := index .Params 0 }}
{{$itemId}}
{{/* 指定、中、大、小の優先順位で画像を表示します */}}
{{/*
  TODO amazon用のapiがないのでnetlifyのために一旦静的に表示させる
{{ $json := getJSON "http://localhost:3000/?item=" $itemId }}
<table>
  <tr>
    <th>status</th>
    <td>{{ $json.status }}</td>
  </tr>
  <tr>
    <th>associate</th>
    <td>{{ $json.associate }}</td>
  </tr>
  <tr>
    <th>asin</th>
    <td>{{ $json.asin }}</td>
  </tr>
  <tr>
    <th>title</th>
    <td>{{ $json.title }}</td>
  </tr>
  <tr>
    <th>author</th>
    <td>{{ $json.author }}</td>
  </tr>
  <tr>
    <th>manufacturer</th>
    <td>{{ $json.manufacturer }}</td>
  </tr>
  <tr>
    <th>item_url</th>
    <td>
      <a href="{{ $json.item_url }}">{{ $json.item_url }}</a>
    </td>
  </tr>
  <tr>
    <th>image_url</th>
    <td>
      {{ if index .Params 1 }}
        <p>独自画像。{{ index .Params 1 }}</p>
      {{ else }}
        {{ if ne $json.images.medium "" }}
          <p>{{ $json.images.medium }}</p>
        {{ else if ne $json.images.large "" }}
          <p>{{ $json.images.large }}</p>
        {{ else if ne $json.images.small "" }}
          <p>{{ $json.images.small }}</p>
        {{ end }}
      {{ end }}
    </td>
  </tr>
</table>
*/}}